<% include header %>
	<div class="box section about">
		<div id="section-left" class="fl" style="position: relative;">
			<% if(linkdata && linkdata.length > 0) { linkdata.forEach(function(link, index){ %>
					<div class="small-box link">
						<h3 class="title"><a target="_blank" href="<%= link.url%>"><%= link.name %></a></h3>
						<p class=""><%= link.description %></p>
					</div>
				</ul>
			<% })}else{ %>
			<div class="no-result">
			    <p>抱歉，网站还没有链接，亲！赶紧与管理员交换链接吧。</p>
			</div>
			<% } %>
		</div>
		<div id="section-right" class="fr clearfix">
			<div class="small-box">
				<h3>全部博文分类</h3>
				<div id="article-typelist" data-type = "0" class="clearfix">
					<% if(categorylist && categorylist.length > 0){ categorylist.forEach(function(category, index){ %>
                		<a target="_blank" href="/category/all/<%-category.category%>" title="查看分类：<%-category.category%>"><%-category.category%><span>(<%-category.counts%>)</span></a>
                	<% })} %>
				</div>
			</div>
			<% include author %>
			<div id="duoshuo-visit" class="small-box">
				<h3>网站最近访客：</h3>
				<ul class="ds-recent-visitors" data-num-items="10"></ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<script type="text/javascript" src="/javascripts/links.js"></script>
	</div>
<% include footer %>