<% include header %>
	<div class="box section about">
		<h3><a href="/admin/addarticle">新增文章</a></h3>
		<div class="article-list">
			<% if(articles && articles.length > 0){ articles.forEach(function(article, index){ %>
				<div class="post-list">
					<h2 class="title">
						<a class="category" href="/category/<%- article.category%>" title="查看更多<%- article.category%>分类文章"><%- article.category%><i></i></a>
						<a href="/article/<%= article.id %>"><%- article.title %></a>
					</h2>
					<div class="info">
						<span class="icomoon post-date">发布时间：<%- new Date(article.time).toLocaleString() %></span>
						<span class="icomoon read-time"><%- article.readtime %>人浏览</span>
						<span class="icomoon post-author">作者：<%- article.author %></span>
						<a class="article-btn edit-article" href="/admin/editarticle/<%=article.id%>">编辑</a>
						<a class="article-btn delete-article" type ="article" data-id ="<%=article.id%>" href="javascripts:;">删除</a>
					</div>
				</div>
			<% })}else{ %>
			<div class="no-result">
			    <p>抱歉，还没有文章。</p>
			</div>
			<% } %>
		</div>
	</div>
<% include footer %>